

  <div class="field">
    <%= f.label :login %><br>
    <%= f.text_field :login, :value=>'bot1' %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field(:password) %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :value=>'bot1' %>
  </div>
  <div class="field">
    <%= f.label :surname %><br>
    <%= f.text_field :surname, :value=>'bot1 surname' %>
  </div>
  <div class="field">
    <%= f.label :birth %><br>
    <%=  date_field(:profile, :birth, :value=>'01.01.1990') %>
  </div>

  <div class="field">
    <%= f.label :about %><br>
    <%= f.text_field :about, :value=>'some shit about you' %>
  </div>



