<%= link_to("<< Back to List", {:action => 'index'}, :class => 'back-link') %><p id="notice"><%= notice %></p>
<div class="profiles show" align=center>
  <h4>Profile:</h4>
  
  <h2><%= @profile.name+@profile.surname %> </h2>


<p>
  <strong>Day of Birth:</strong> <%= @profile.birth %>
</p>

<p>
  <strong>Status: online</strong>
  <%= @profile.status %>
</p>

<p>
  <strong>About:</strong>
  <%= @profile.about %>
</p>
</div>
