<h1>Listing friendlists</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @friendlists.each do |friendlist| %>
      <tr>
        <td><%= friendlist.name %></td>
        <td><%= friendlist.surname %></td>
        <td><%= friendlist.status %></td>
        <td><%= link_to 'Show', friendlist %></td>
        <td><%= link_to 'Edit', edit_friendlist_path(friendlist) %></td>
        <td><%= link_to 'Destroy', friendlist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Friendlist', new_friendlist_path %>
