<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @friendlist.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @friendlist.surname %>
</p>

<p>
  <strong>Status:</strong>
  <%= @friendlist.status %>
</p>

<%= link_to 'Edit', edit_friendlist_path(@friendlist) %> |
<%= link_to 'Back', friendlists_path %>
